<a href="https://colab.research.google.com/github/sairam178/Foundation-of-machine-learning/blob/main/foundation_of_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import numpy as np
import pandas as pd

In [90]:
s = pd.Series([1, 3, 5, 6, 8])
print(s)

0    1
1    3
2    5
3    6
4    8
dtype: int64

indexing with our own type

In [91]:
s= pd.Series([1,2,3],index=["s","a","i"])
print(s)
print(s[0])
print(s["a"])

s    1
a    2
i    3
dtype: int64
1
2

/tmp/ipython-input-872365538.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

series from Dictionary

In [92]:
data = {"math":90,"physics":49,"chemistry":99}
marks  = pd.Series(data)
print(data)
print()
print(marks)

{'math': 90, 'physics': 49, 'chemistry': 99}

math         90
physics      49
chemistry    99
dtype: int64

DataFrame in pandas

In [93]:
data = {
    "Name":["SAIRAM","sriram","jairam"],
    "Age":[21,22,23],
    "marks":[99,97,8]
}
print(data)
marks = pd.DataFrame(data)
print(marks)

{'Name': ['SAIRAM', 'sriram', 'jairam'], 'Age': [21, 22, 23], 'marks': [99, 97, 8]}
     Name  Age  marks
0  SAIRAM   21     99
1  sriram   22     97
2  jairam   23      8

In [94]:
marks = pd.DataFrame(
    data,
    index = ["student1","student2","student3"]
)
print(marks)

            Name  Age  marks
student1  SAIRAM   21     99
student2  sriram   22     97
student3  jairam   23      8

In [95]:
marks.set_index("Name", inplace=True) # if we setting palce = ture it means we changing the orginal objectitself
print(marks)

        Age  marks
Name
SAIRAM   21     99
sriram   22     97
jairam   23      8

In [96]:
df = pd.DataFrame({
    "Name":["aman","roman","karun"],
    "age":[22,23,21],
    "marks":[86,4,65]
})
print(df)
df.head() # as the no of rows is less thyan 5 so the output of both df head front
df.tail() # print least 5 rows from data

    Name  age  marks
0   aman   22     86
1  roman   23      4
2  karun   21     65

    Name  age  marks
0   aman   22     86
1  roman   23      4
2  karun   21     65

In [97]:
df = pd.DataFrame({
     "Name":["aman","roman","karun","sam","ramu"],
    "age":[22,23,21,23,44],
    "marks":[86,4,65,234,55]
})

df.tail(2)

   Name  age  marks
3   sam   23    234
4  ramu   44     55

In [98]:
df.head(2)

    Name  age  marks
0   aman   22     86
1  roman   23      4

In [99]:
df.shape

(5, 3)

In [100]:
df.columns

Index(['Name', 'age', 'marks'], dtype='object')

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   age     5 non-null      int64
 2   marks   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [102]:
df.describe()

             age      marks
count   5.000000    5.00000
mean   26.600000   88.80000
std     9.762172   86.58926
min    21.000000    4.00000
25%    22.000000   55.00000
50%    23.000000   65.00000
75%    23.000000   86.00000
max    44.000000  234.00000